@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Open+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap');

body {
  background-color: rgb(10, 0, 36);
}

.box1 {
  position: absolute;
  top: 20%;
}

.box2 {
  position: absolute;
  top: 35%;
}

.box3 {
  position: absolute;
  top: 50%;
}

.galaxy {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  position: fixed;
  color: white;
  top: 32vh;
  left: 42.5vw;
  font-size: 150%;
  z-index: 2;
}

.v {
  color: rgb(146, 0, 68);
}

.registerbtn {
  position: absolute;
		top: 70%;
    left: 17%;
		padding: 10px;
		width: 150px;
		color: grey;
		background-color: white;
		border-radius: 7px;
		border: none;
}

.registerbtn:hover {
  background-color: rgb(209, 209, 209);
}

.logobig {
  position: absolute;
  width: 10%;
  top: 38vh;
  left: 57.5vw;
  z-index: 2;
}